* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculadora {
  background-color: rgb(10, 100, 100);
  padding: 20px;
  border-radius: 15px;
}
.pantalla {
  background-color: azure;
  padding: 60px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: right;
  font-size: 40px;
  color: black;
  border-color: black;
  font-weight: 500px;
}

.botones {
  display: grid;
  /* lo utilizo para crear columnas */
  grid-template-columns: repeat(4, 1fr);
  /* el gap lo uso para crear espacios en los elementos pero solo en la mitad*/
  gap: 10px;
  cursor: pointer;
}

.btn1
{
  font-size: 40px;
  padding: 20px;
  border-radius: 100px;
  background-color: rgb(48, 188, 212);


}
.btn4{
  font-size: 40px;
  padding: 20px;
  border-radius: 100px;
  background-color: rgb(138, 48, 212);

}
.btn5
{ font-size: 40px;
  padding: 20px;
  border-radius: 100px;
  background-color: rgb(219, 207, 28);
  
}
.btn {
  font-size: 40px;
  padding: 20px;
  border-radius: 100px;
}
.botones :hover {
  background-color: beige;
}
