<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>Biblioteca/Registrar libro</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
    </head>

    <style>
        body{
            margin: 0%;
            padding: 0%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-image: url("fondo biblioteca.jpg");
            background-size: cover;  /*para que cubra toda la pantalla la imagen*/
            background-position: center;      /* Centra la imagen */
            background-repeat: no-repeat;    /* Evita que se repita */
            background-attachment: fixed;    /* Mantiene el fondo fijo al hacer scroll */
            min-height: 100vh;
        }
    </style>
    <body >
                  <!--encabezado -->
<nav class="navbar navbar-expand-lg bg-body-tertiary py-1" style="background-color:#5105E0 !important;">
  <div class="container-fluid">
    <img src="./logo_biblioteca1.jpg" alt="" style="padding: 2px; border-radius: 5px !important; height: 45px;margin-right: 5px;">
    <a class="navbar-brand" style=" color: white; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: 600; font-size:large">Biblioteca Personal</a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#encabezado" aria-controls="encabezado" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="encabezado">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html" style="color: rgba(255, 255, 255, 0.75);">| Inicio |</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>

     <main class="container my-5 d-flex justify-content-center align-items-center" >
    <div class="card shadow-sm w-100" style="max-width: 800px; background-color:#fdfcfe !important; ">
        <div class="card-header bg-primary text-white py-3" style="background-color:#5105E0 !important;">
            <h2 class="card-title h4 mb-0 text-center" >REGISTRAR LIBRO</h2>
        </div>

        <div class="card-body p-4">
            <form action="" method="POST">
                
                <div class="row g-3">
                    <div class="col-12">
                        <label for="nombre" class="form-label fw-semibold">Ingrese el codigo del libro</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" required>
                    </div>
                    <div class="col-12">
                        <label for="nombre" class="form-label fw-semibold">Ingrese el titulo del libro</label>
                        <input type="text" class="form-control" id="Titulo" name="Titulo" required>
                    </div>
                    <div class="col-12">
                        <label for="nombre" class="form-label fw-semibold">Ingrese el autor del libro</label>
                        <input type="text" class="form-control" id="Autor" name="Autor" required>
                    </div>
                    <div class="col-12">
                        <label for="nombre" class="form-label fw-semibold">Ingrese la categoria del libro</label>
                        <input type="text" class="form-control" id="Categoria" name="Categoria" required>
                    </div>
                    <div class="col-12">
                        <label for="nombre" class="form-label fw-semibold">Ingrese el año de publicacion</label>
                        <input type="text" class="form-control" id="año" name="año" required>
                    </div>
                    <div class="col-12">
                        <label for="nombre" class="form-label fw-semibold">Ingrese el estado del libro</label>
                        <input type="text" class="form-control" id="Estado" name="Estado" required>
                    </div>

                    <!-- Botones de acción -->
                    <div class="col-12 d-flex justify-content-end gap-2 pt-3">
                        <a href="./index.html" class="btn btn-outline-secondary px-4">Cancelar</a>
                        <button type="submit" class="btn btn-primary px-4">Registrar</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Bundle (includes Popper) -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
